<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.dao.TeamshoppingFurnitureMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.pojo.TeamshoppingFurniture" >
    <id column="ts_furniture_id" property="tsFurnitureId" jdbcType="INTEGER" />
    <result column="ts_furniture_type" property="tsFurnitureType" jdbcType="VARCHAR" />
    <result column="ts_furniture_style" property="tsFurnitureStyle" jdbcType="VARCHAR" />
    <result column="ts_furniture_size" property="tsFurnitureSize" jdbcType="VARCHAR" />
    <result column="ts_furniture_color" property="tsFurnitureColor" jdbcType="VARCHAR" />
    <result column="ts_furniture_material" property="tsFurnitureMaterial" jdbcType="VARCHAR" />
    <result column="ts_furniture_land" property="tsFurnitureLand" jdbcType="VARCHAR" />
    <result column="ts_furniture_capacity" property="tsFurnitureCapacity" jdbcType="VARCHAR" />
    <result column="ts_furniture_picture" property="tsFurniturePicture" jdbcType="VARCHAR" />
    <result column="ts_furniture_number" property="tsFurnitureNumber" jdbcType="INTEGER" />
    <result column="ts_furniture_money" property="tsFurnitureMoney" jdbcType="DOUBLE" />
    <result column="ts_furniture_introduce" property="tsFurnitureIntroduce" jdbcType="VARCHAR" />
    <result column="ts_furniture_state" property="tsFurnitureState" jdbcType="VARCHAR" />
  </resultMap>
  
</mapper>