<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.dao.TeamshoppingBeautyMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.pojo.TeamshoppingBeauty" >
    <id column="ts_beauty_id" property="tsBeautyId" jdbcType="INTEGER" />
    <result column="ts_beauty_brand" property="tsBeautyBrand" jdbcType="VARCHAR" />
    <result column="ts_beauty_type" property="tsBeautyType" jdbcType="VARCHAR" />
    <result column="ts_beauty_component" property="tsBeautyComponent" jdbcType="VARCHAR" />
    <result column="ts_beauty_amount" property="tsBeautyAmount" jdbcType="DOUBLE" />
    <result column="ts_beauty_date" property="tsBeautyDate" jdbcType="DATE" />
    <result column="ts_beauty_effect" property="tsBeautyEffect" jdbcType="VARCHAR" />
    <result column="ts_beauty_time" property="tsBeautyTime" jdbcType="VARCHAR" />
    <result column="ts_beauty_people" property="tsBeautyPeople" jdbcType="VARCHAR" />
    <result column="ts_beauty_picture" property="tsBeautyPicture" jdbcType="VARCHAR" />
    <result column="ts_beauty_number" property="tsBeautyNumber" jdbcType="INTEGER" />
    <result column="ts_beauty_money" property="tsBeautyMoney" jdbcType="DOUBLE" />
    <result column="ts_beauty_introduce" property="tsBeautyIntroduce" jdbcType="VARCHAR" />
    <result column="ts_beauty_state" property="tsBeautyState" jdbcType="VARCHAR" />
  </resultMap>
 
</mapper>