<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.dao.TeamshoppingTelevisionMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.pojo.TeamshoppingTelevision" >
    <id column="ts_tv_id" property="tsTvId" jdbcType="INTEGER" />
    <result column="ts_tv_brand" property="tsTvBrand" jdbcType="VARCHAR" />
    <result column="ts_tv_model" property="tsTvModel" jdbcType="VARCHAR" />
    <result column="ts_tv_type" property="tsTvType" jdbcType="VARCHAR" />
    <result column="ts_tv_size" property="tsTvSize" jdbcType="VARCHAR" />
    <result column="ts_tv_color" property="tsTvColor" jdbcType="VARCHAR" />
    <result column="ts_tv_kernel" property="tsTvKernel" jdbcType="VARCHAR" />
    <result column="ts_tv_audio" property="tsTvAudio" jdbcType="VARCHAR" />
    <result column="ts_tv_memory" property="tsTvMemory" jdbcType="VARCHAR" />
    <result column="ts_tv_guarantee" property="tsTvGuarantee" jdbcType="VARCHAR" />
    <result column="ts_tv_system" property="tsTvSystem" jdbcType="VARCHAR" />
    <result column="ts_tv_picture" property="tsTvPicture" jdbcType="VARCHAR" />
    <result column="ts_tv_number" property="tsTvNumber" jdbcType="INTEGER" />
    <result column="ts_tv_money" property="tsTvMoney" jdbcType="DOUBLE" />
    <result column="ts_tv_introduce" property="tsTvIntroduce" jdbcType="VARCHAR" />
    <result column="ts_tv_state" property="tsTvState" jdbcType="VARCHAR" />
  </resultMap>
  
</mapper>