<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.dao.TeamshoppingFinefoodMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.pojo.TeamshoppingFinefood" >
    <id column="ts_finefood_id" property="tsFinefoodId" jdbcType="INTEGER" />
    <result column="ts_finefood_name" property="tsFinefoodName" jdbcType="VARCHAR" />
    <result column="ts_finefood_seller" property="tsFinefoodSeller" jdbcType="VARCHAR" />
    <result column="ts_finefood_material" property="tsFinefoodMaterial" jdbcType="VARCHAR" />
    <result column="ts_finefood_weight" property="tsFinefoodWeight" jdbcType="VARCHAR" />
    <result column="ts_finefood_flavor" property="tsFinefoodFlavor" jdbcType="VARCHAR" />
    <result column="ts_finefood_picture" property="tsFinefoodPicture" jdbcType="VARCHAR" />
    <result column="ts_finefood_number" property="tsFinefoodNumber" jdbcType="INTEGER" />
    <result column="ts_finefood_money" property="tsFinefoodMoney" jdbcType="DOUBLE" />
    <result column="ts_finefood_introduce" property="tsFinefoodIntroduce" jdbcType="VARCHAR" />
    <result column="ts_finefood_state" property="tsFinefoodState" jdbcType="VARCHAR" />
  </resultMap>
 
</mapper>