<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.dao.TeamshoppingBooksMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.pojo.TeamshoppingBooks" >
    <id column="ts_books_id" property="tsBooksId" jdbcType="INTEGER" />
    <result column="ts_books_name" property="tsBooksName" jdbcType="VARCHAR" />
    <result column="ts_books_type" property="tsBooksType" jdbcType="VARCHAR" />
    <result column="ts_books_author" property="tsBooksAuthor" jdbcType="VARCHAR" />
    <result column="ts_books_press" property="tsBooksPress" jdbcType="VARCHAR" />
    <result column="ts_books_picture" property="tsBooksPicture" jdbcType="VARCHAR" />
    <result column="ts_books_number" property="tsBooksNumber" jdbcType="INTEGER" />
    <result column="ts_books_money" property="tsBooksMoney" jdbcType="DOUBLE" />
    <result column="ts_books_introduce" property="tsBooksIntroduce" jdbcType="VARCHAR" />
    <result column="ts_books_state" property="tsBooksState" jdbcType="VARCHAR" />
  </resultMap>
  
</mapper>