<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.dao.UserCityMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.pojo.UserCity" >
    <result column="u_city_id" property="uCityId" jdbcType="INTEGER" />
    <result column="u_city_name" property="uCityName" jdbcType="VARCHAR" />
    <result column="u_city_pid" property="uCityPid" jdbcType="INTEGER" />
  </resultMap>
  <select id="getUserCity" resultMap="BaseResultMap">
  		select u_city_id,u_city_name,u_city_pid
  		from user_city
  </select>
</mapper>