<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.dao.UserAddressMapper" >
  <resultMap id="BaseResultMap" type="com.neusoft.pojo.UserAddress" >
    <id column="u_address_id" property="uAddressId" jdbcType="INTEGER" />
    <result column="u_address_province" property="uAddressProvince" jdbcType="VARCHAR" />
    <result column="u_address_city" property="uAddressCity" jdbcType="VARCHAR" />
    <result column="u_address_area" property="uAddressArea" jdbcType="VARCHAR" />
    <result column="u_address_detailed" property="uAddressDetailed" jdbcType="VARCHAR" />
    <result column="u_address_mid" property="uAddressMid" jdbcType="INTEGER" />
  </resultMap>
  
</mapper>